{% extends "navbar.html" %} {% block title %} Home {% endblock %} 

{% load static %}


{% block contenido %}

<div class="p-5 bg-light">
  <div class="container">
    <h1>Bienvenides a nuestra Tienda de Almohadones</h1>
    <p>
      Aquí podrás encargar tus almohadones personalizados,
      para tu hogar, hijes o negocio.
    </p>
    <button class="btn btn-outline-primary" type="button">
      Gastar aguinaldo
    </button>
  </div>
</div>
<div>
  <img class="w-100" src={% static 'images/fondo.jpg' %} alt="">
</div>

{% endblock %}

