{% extends "navbar.html" %} {% block title %} Home {% endblock %} 

{% load static %}


{% block contenido %}

<div class="p-5 bg-light">
  <div class="container">
    <h1>Bienvenides a nuestra Tienda de Almohadones</h1>
    <p>
      Aquí podrás encargar tus almohadones personalizados,
      para tu hogar o negocio.
    </p>
    <a href="https://www.paypal.com/ar/home?locale.x=es_AR" target="_blank">
      <button class="btn btn-outline-primary" type="button">
        Gastar aguinaldo
      </button>
    </a>
    
  </div>
</div>
<div>
  <img class="w-100" src={% static 'images/fondo.jpg' %} alt="fondo-modelo">
</div>
<div class="w-100 p-5 bg-dark text-white d-flex">
  <div class="w-25">
    <img class="w-25 rounded-circle" src={% static 'images/cac.png' %} alt="logo-cac">
  </div>
  <p class="mt-4"><strong>Todos los derechos reservados de este Unicornio tecnológico 2022 &#169.</strong></p>
</div>

{% endblock %}

