{% extends "navbar.html" %}

{% block title %} Almohadones Personalizados {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Agregar almohadon</a>
        <a name="" id="" class="position-absolute end-0 mt-0 btn btn-dark" href="{% url 'salir' %}" role="button">Salir</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Almohadones</h4>

        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Título</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr class="col-12">
                        <td class="col-1">{{ producto.id }}</td>
                        <td class="col-2">{{ producto.titulo }}</td>
                        <td class="col-2">
                            <img src={{ producto.imagen.url }} height='100' alt="">
                        </td>
                        <td class="col-4">{{ producto.descripcion }}</td>
                        <td class="col-3">
                             <a name="" id="" class="btn btn-primary" href="{% url 'editar' producto.id %}" role="button">Editar</a> 
                             |
                             <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' producto.id %}" role="button">Borrar</a> 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}